<div class="profile-container">
  <div class="profile">
    <div class="sidebar">
      <div class="sidebar-icon">HR</div>
      <button class="logout">logout</button>
    </div>

    <div class="profile-content">
      <div class="header">
        <div class="user-info">
          <img
            src="assets/profile-1.png"
            class="user-avatar"
            alt="Profile Image"
          />
          <h2>Russel Sims</h2>
        </div>

        <div class="header-actions">
          <button class="delete-btn">Delete</button>
        </div>
      </div>
      <div class="profile-body">
        <div class="left">
          <div class="profile-image">
            <img src="assets/profile-1.png" alt="Profile Image" />
            <button class="change-img-btn">Change Profile Image</button>
          </div>
        </div>

        <div class="right">
          <div class="info-group">
            <label>First Name</label>
            <input type="text" value="Russel" readonly />
          </div>
          <div class="info-group">
            <label>Last Name</label>
            <input type="text" value="Sims" readonly />
          </div>
          <div class="info-group">
            <label>Email Address</label>
            <input type="text" value="russel@mycompany.com" readonly />
          </div>
          <div class="info-group">
            <label>Phone Number</label>
            <input type="text" value="+1 255 29345690" readonly />
          </div>
        </div>
      </div>
      <button class="save-btn">Save Changes</button>
      <button class="cancel-btn">Cancel</button>
    </div>
  </div>
</div>
